/*
output-pharr.css
Author: Matthew Katsenes
Purpose: take TEI text (after parsing it with an XSLT stylesheet) and display it nicely for the browser.

This css design should resemble Pharr's Aeneid (Bolchazy-Carducci).
*/

#text {
	margin-left: auto;
	margin-right: auto;
	width: 450pt;
}

.lg {
	margin-top: 10px;
	margin-bottom: 10px;
	
	margin-left: 10px;
	margin-right: 10px;
}

.l {
	position: relative;
	left: 40px;
	font-style: normal;
}
.line_number{
	position: absolute;
}


.defined_term {
	font-weight: bold;
	cursor:help;
}

#marginalia {
	margin-left: auto;
	margin-right: auto;
	width: 450pt;
}



#definitions {
	padding: 0px 10px 0px 10px;
	margin-bottom:0px;
	text-align: left;
	border-top: 1px solid black;
}

#definitions_heading {
	text-align: center;
	font-weight: bold;
}

#notes {
/*	border-bottom:1px solid black; */
	padding:10px;
	text-align: left;
	font-size: small;
}

.note {
	margin-bottom: 10px;
}

.note_number {
	font-weight: bold;
}

#notes_heading {      
	text-align: center;
	font-weight: bold;
}

#title {
	font-size: x-large;
	text-align: center;
}

#author {
	font-size: small;
	margin-bottom: 10px;
	text-align: center;
}

.speaker {
	position: relative;
	left: 40px;
	font-weight: bold;
}

.entry {
	font-size: small;
	margin-bottom: 10px;	
}

#defCol1 {
	float: left;
	padding-right:30px;
	width: 45%;
}

#defCol2 {

}

.headword {
	font-weight: bold;
}

.part_of_speech {
	font-style: italic;
}

br {
//	clear: left;
}

#navigation {
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	width: 200pt;
}
