/*
 * PageHeader Styles
 * author: Matt Katsenes
 * date: 11/12/2007
*/

body {
	margin: 0px;
}

#container {

	border: solid 2px Navy;	
	overflow: hidden;
	text-align: left;
}

#logo {
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#welcome {
	padding: 10px;
}

#sidebar {
	float: left;
	width: 301px;
	padding-bottom: 10px;
	overflow: hidden;
}
#sidebar_content {
	padding: 10px;
	overflow: auto;
}

#mainColumn {
	margin: 0px 0px 0px 0px;
	overflow: hidden;
}

#menubar {
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#menubar ul {
	padding: .2em 0px;
	margin: 0px;
	list-style-type: none;
	background-color: RoyalBlue;
	color: #FFF;
	width: 100%;
}

#menubar ul li {
	display: inline;
	border-right: 1px dotted white;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

#menubar ul li a {
	text-decoration: none;
	background-color: RoyalBlue;
	color: #FFF;
}

#menubar ul li a:hover {
	background-color: CornflowerBlue;
	color: #fff;
}

#guts {
	float: left;
	padding: 10px;
	margin: 0px 0px 0px 0px;
	overflow: auto;
}

#credits {
	clear: both;
	border-top: solid 2px Navy;
	width: 100%;
	float: left;
	vertical-align: middle;
	color: Navy;
}

#credits ul {
	padding: .2em 0px;
	margin: 0px;
	list-style-type: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#credits ul li {
	display: inline;
	border-right: 1px dotted Navy;
	vertical-align: middle;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

.title2	{
	padding-left: 1.5em;
	font-size: x-large;
}

.info-box {
	background: AntiqueWhite;
	width: 70%;
	margin: auto;
}

/* Stuff for the Combined View */
.def {
	color: red;
}

.notes {
	font-style: italic;
}

/* Cake stuf */
/* Forms */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
}
fieldset {
	border: 0px;
	padding: 16px 20px;
}
fieldset legend {
	color: DarkBlue;
	font-size: 110%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
	margin-left: 20px;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	vertical-align: text-top;
}
form div.input {
	color: #444;
}
form div.required {
	color: #333;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
	margin-left: 140px;
}
label {
	display: block;
	padding-right: 20px;
}
input, textarea {
	clear: both;
	display: block;
	padding: 2px;
	width: 100%;
}
select {
	clear: both;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	padding: 2px 5px;
	width: auto;
	vertical-align: bottom;
}

/* Notices and Errors */
div.message {
	clear: both;
	color: #900;
	font-size: 120%;
	font-weight: bold;
	margin: 1em 0;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background-color: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background-color: green;
	color: #FFF;
}

/* TiroText Stylings */
.original_div {
	padding: 0.8em;
}

table.options {
	padding: 4px;
}

table.options td {
	border-bottom: 2px dotted;
}