/*
 * PageHeader Styles
 * author: Matt Katsenes
 * date: 11/12/2007
*/

#pageHeader {
	width: 95%;
}

#logo {
	float: left;
	padding: 5px;
}

#welcome {
	float: right;
	padding: 5px;
	padding-top: 19px;
}

#sidebar {
	clear: both;
	float: left;
	border-top: solid 2px Navy;
	width: 25%;
	background-color: Lavender;
	padding: 5px;
}

#mainColumn {
	float: left;
	width: 73%;
	border-top: solid 2px Navy;
}

#menubar {
	width: 100%;
}

#menubar ul {
	padding: .2em 0;
	margin: 0;
	list-style-type: none;
	background-color: RoyalBlue;
	color: #FFF;
	width: 100%;
}

#menubar ul li {
	display: inline;
	border-right: 1px dotted white;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

#menubar ul li a {
	text-decoration: none;
	background-color: RoyalBlue;
	color: #FFF;
}

#menubar ul li a:hover {
	background-color: CornflowerBlue;
	color: #fff;
}

#guts {
	clear: left;
	float: left;
	width: 100%;
	padding: 10px;
}

#credits {
	clear: both;
	width: 98%;
	border-top: solid 2px Navy;
	float: left;
	vertical-align: middle;
	color: Navy;
}

#credits ul {
	padding: .2em 0;
	margin: 0;
	list-style-type: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#credits ul li {
	display: inline;
	border-right: 1px dotted Navy;
	vertical-align: middle;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

.title2	{
	padding-left: 1.5em;
	font-size: x-large;
}

.info-box {
	background: AntiqueWhite;
	width: 70%;
	margin: auto;
}